<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}LyNX!{% endblock %}</title>
    {% block stylesheets %}
      <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
      <link href="{{ asset('bootstrap/css/bootstrap-reboot.css') }}" rel="stylesheet" />
      <link href="{{ asset('bootstrap/css/bootstrap-grid.css') }}" rel="stylesheet" />
      <link href="{{ asset('css/lynx.css') }}" rel="stylesheet" />
    {% endblock %}
  </head>
  <body>
    {% block head %}
    {% endblock head %}

    <div class="container">
      {% block messages %}
        <div class="message-ok">
          {% block message_ok %}
            {% if app.session.flashbag.peekall|length > 0 %}
              <ul>
                {% for flash_notices in app.flashes('notice') %}
                  <li>{{ flash_notices }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          {% endblock message_ok %}
        </div>

        <div class="message-error">
          {% block message_error %}
            {{ form_errors(form.url) }}
          {% endblock message_error %}
        </div>
      {% endblock messages %}

      {% block body %}
      {% endblock body %}
    </div>

    {% block javascripts %}
      <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
      <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
      <script src="{{ asset('bootstrap/js/bootstrap.bundle.js') }}"></script>
    {% endblock %}
  </body>
</html>
